#LangChain Core
langchain
langchain-core
langchain-community

#Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

#Hugging Face Integration
langchain-huggingface

# Groq Integration
langchain-groq

#Enviornment Variable Management
python-dotenv

#Other utilities
beautifulsoup4
selenium
webdriver_manager
chromadb
sentence-transformers
fastapi
streamlit